#hero {
  width: 100%;
  height: 50vh; /* changed the height of the hero */
  background-color: #fff5f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-promo {
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  background-color: #5e3d47; /* added background color */
  border: 2px solid #9D8189;
  width: 90%;
}

#hero-text {
  font-size: 1.2em;
  color: #555;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

